@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color:rgb(0, 0, 0);
    overflow: hidden;
    cursor: default;
    scrollbar-width: auto;
    scrollbar-color: rgb(13, 54, 110) #111;
  }

  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #111;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(13, 54, 110);
    border-radius: 15px;
    border: 3px solid #111;
  }
body{
    position: absolute;
    width:100vw;
    height:100vh;
    overflow: hidden;
}
.header{
    width:100%;
    height:9vh;
    background-color: rgb(16, 16, 16);
    position: absolute;
    top:0;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 5px 17px 0px rgba(0,0,0,0.75);
    z-index:1000;
}
.body{
    width:100vw;
    height:90vh;
    background-color: rgb(15, 15, 15);
    position: absolute;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    z-index:0;
}
.logo{
    font-weight: 800;
    font-size: 1.5rem;
    position: absolute;
    left:2rem;
    color:#fff;
}
.logo span{
    color:orange;
    text-decoration: underline;
}
.left{
    width:50%;
    height:90vh;
    position: absolute;
    background-color: #111;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right{
    width:50%;
    height:90vh;
    background-color: rgb(222,214,191);
    position: absolute;
    right:0;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;

}
.left span{
    color: gray;
}
.prof{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:300px;
    height:300px;
    border-radius: 100%;
    overflow:visible;
    position: absolute;
    background-image: url("pic.jpg");
    border: 1rem solid #111;
    box-shadow: 0px 0px 0px 7px rgb(10, 40, 81);
    margin-bottom: 5.5rem;
    margin-left: 2rem;
}
.prof h1{
    position: absolute;
    width:400px;
    margin-left: 20%;
    z-index:1000;
    color:#fff;
}
.prof span{
    color:rgb(188, 188, 188);
    font-weight: 700;
    margin-bottom: -3.5rem;
    margin-left: 12rem;
    position: absolute;
}
.prof::before{
    content: '';
    position: absolute;
    width:1.6rem;
    height:1.5rem;
    background-color: #111;
    right:0;
    margin-right: -1.6rem;
    margin-top:3.5rem;
    z-index:0;
}
.prof::after{
    content: '';
    position: absolute;
    width:1.6rem;
    height:2.3rem;
    background-color: #111;
    left:0;
    margin-left: -2rem;
    z-index:0;
}
.lefter{
    height:2.1em;
    width: 200%;
    position: absolute;
    transform: rotate(-90deg);
    left:-95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: orange;
    color:#111;
    font-size: 0.9em;
}
.lefter ion-icon{
    cursor: pointer;
    color: #111;
    font-size: 1.3em;
}
.line{
    height:0.5em;
    width: 200%;
    position: absolute;
    transform: rotate(-90deg);
    left:-91%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 40, 81);
}
.animation{
    position: absolute;
    transform: rotate(20deg);
}
.lines{
    width:200%;
    height:1rem;
    height:auto;
    display:flex;
    filter: blur(3px);
    align-items: center;
    justify-content: center;
    animation: animate 40s linear infinite;
}
.lines ion-icon{
    font-size: 2rem;
    margin-right: 3px;
    font-weight: bolder;
    color:rgba(17, 17, 17, 0.5);
}
.center_info{
    width:400px;
    height:400px;
    background-color: rgb(222,214,191);
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0px 70px 50px rgba(222, 214, 191, 0.85);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.4s;
}
.title{
    position: absolute;
    font-size: 1.8rem;
    width: 100%;
    height:20%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
    top:0;
}
.info_me{
    position: absolute;
    width: 100%;
    height:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2%;
    bottom:0;
}
.box{
    position: absolute;
    width:42.5%;
    height:42.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
}
#one{
    top:1.5rem;
    left:1.5rem;
}
#two{
    top:1.5rem;
    right:1.5rem;
}
#three{
    bottom:1rem;
    left:1.5rem;
}
#four{
    bottom:1rem;
    right:1.5rem;
}
.icon_area{
    width:100%;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
}

.icon_area ion-icon{
    font-size: 6rem;
    color:rgb(73, 73, 73);
    cursor:pointer;
}
hr{
    width:80%;
    cursor:pointer;
}
.text_area{
    cursor:pointer;
}
.info_more{
    width:90%;
    height:75vh;
    position: absolute;
    background-color: rgb(222,214,191);
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.4s;
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.2);
}
.profile{
    transform: translate(150%, 150%);
}
.banner{
    position: absolute;
    width:100%;
    height:15%;
    background-color: #111;
    color:rgb(222,214,191);
    padding:1rem;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile .banner{
    height: 25%;
}
.area{
    position: absolute;
    width:93%;
    height:60%;
    color:rgb(222,214,191);
    padding:1rem;
    bottom:1%;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #111 rgb(222,214,191);
    scrollbar-width: thin;
    overflow-x: hidden;
    z-index: -1;
  }
.project .area, .achiv .area{
    height: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}
.area .selector{
    width:42%;
    height:90%;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #111;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    background-color: rgba(17, 17, 17, 0.093);
    transition: 0.6s;
}
.selector img{
    transition: 0.4s;
    transition-delay:0.2s;
    width:90%;
}
.selector h1{
    transition: 0.3s;
    transition-delay:0.2s;
    width:100%;
    margin-top: 5px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:rgb(222,214,191);
    position: absolute;
    bottom:0;
    z-index:10000;
}
.selector span{
    position: absolute;
    top:0;
    transform: translateY(-200%);
    transition: 0.4s;
    transition-delay:0.2s;
}
#first, #third{
    position: absolute;
    left:2.5%
}
#second, #forth{
    position: absolute;
    right:1%;
}
  .area::-webkit-scrollbar {
    width: 11px;
  }

  .area::-webkit-scrollbar-track {
    background: rgb(222,214,191);
  }

  .area::-webkit-scrollbar-thumb {
    background-color: #111;
    border-radius: 10px;
    border: 3px solid rgb(222,214,191);
  }
.banner h1, .banner p{
    color:rgb(222,214,191);
}
.banner h1{
    font-size: 2rem;
}
.area h1{
    font-size: 1rem;
}
.area p{
    width:100%;
    height:auto;
    color:#111;

}
.back{
    position: absolute;
    color:rgb(222,214,191);
    right:3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.contact, .project, .achiv{
    transform: translate(150%, 150%);
}
.video{
    width:90%;
    height:50vh
}

video{
    width: 95%;
    border-radius: 10px;
    border: 1px solid black;
}
.selector.actived{
    padding:0;
    width:93%;
    height:95%;
    margin:0;
    transform: translate(1.5%, -1.5%);
    
}
.selector.actived img{
    transform: translateY(200%);
}
.actived span{
    transform: translateX(0);
    width:90%;
    height:100%;
    padding: 2%;
    left: 0;
    overflow: scroll;
    text-align: center;
    scrollbar-width: auto;
    scrollbar-color: #000111 #cbc4af;
  }

  .actived span::-webkit-scrollbar {
    width: 9px;
  }

  .actived span::-webkit-scrollbar-track {
    background: #cbc4af;
  }

  .actived span::-webkit-scrollbar-thumb {
    background-color: #000111;
    border-radius: 10px;
    border: 2px solid #cbc4af;
  }
.selector.actived h1{
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 95%;
    width:1000%;
    margin-bottom: 40%;
    height:1.4rem;
}
.selector.unactived{
    transform: translateX(50rem);
}
.h1{
    font-size: 1.5rem;
    font-weight: bolder;
}
.h3{
    font-weight: bold;
}
.come{
    transform: translate(0, 0);
}

.move{
    transform: translate(150%, 150%);
}
@keyframes animate{
    0%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(-10%);
    }
}

@media only screen and (max-width: 995px){
    .body{
        overflow-y: scroll;
    }
    .left{
        width:100%;
        overflow: hidden;
    }
    .right{
        width:100%;
        height: 90vh;
        transform: translateY(100%);
        overflow: hidden;
    }
    
.center_info{
    height:350px;
    width:350px;
    box-shadow: 0px 0px 43px 19px rgba(222, 214, 191, 0.75);
}
#one{
    top:7%;
    left:6%;
}
#two{
    top:7%;
    right:6%;
}
#three{
    bottom:5%;
    left:6%;
}
#four{
    bottom:5%;
    right:6%;
}
.banner h1{
    font-size: 2rem;
}

.banner p{
    font-size: 0.75rem;
}
.selector.actived{
    width:92%;
}
.info_more{
    height:75%;
}
}
@media only screen and (max-width: 399px){
    .prof{
        width:250px;
        height:250px;
        border: 10px solid #111;
        box-shadow: 0px 0px 0px 5px rgb(10, 40, 81);
    }
    .prof h1{
        font-size: 1.7rem;
        transform: translateX(1.55rem);
    }
    .prof span{
        font-size: 0.75rem;
    }
    .lefter{
        height:2em;
        font-size: 0.5rem;
    }
    .line{
        height:0.2em;
    }
    .center_info{
        height:330px;
        width:330px;
    }
.banner h1{
    font-size: 1.7rem;
}

.banner p{
    font-size: 0.6rem;
}
.area{
    width:88%;
  }
}
@media only screen and (max-width: 340px){
    .prof{
        width:200px;
        height:200px;
        border: 10px solid #111;
        box-shadow: 0px 0px 0px 5px rgb(10, 40, 81);
    }
    .prof h1{
        font-size: 1.39rem;
        transform: translateX(3.6rem);
    }
    .prof span{
        font-size: 0.6rem;
        transform: translateX(-1.7rem);
    }
    .center_info{
        height:80%;
        width:90%;
    }
.banner h1{
    font-size: 1.4rem;
}

.banner p{
    font-size: 0.5rem;
}
.area{
    width:85%;
  }
}